* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/downloads/adult_severity.svg -text
WebContent/downloads/myexample.svg -text
WebContent/downloads/ped_severity.svg -text
WebContent/feeds/line_data.jsp -text
WebContent/feeds/lines_data.jsp -text
WebContent/footer.jsp -text
WebContent/head.jsp -text
WebContent/images/n3c_logo.png -text
WebContent/index.jsp -text
WebContent/line_graph.jsp -text
WebContent/lines_graph.jsp -text
WebContent/navbar.jsp -text
WebContent/resources/MT.BootstrapLazyloader.js -text
WebContent/resources/autocomplete.css -text
WebContent/resources/autocomplete.js -text
WebContent/resources/d3-tip.js -text
WebContent/resources/d3.tip.v0.6.3.js -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/main_style.css -text
WebContent/resources/n3c_login_style.css -text
WebContent/resources/phenotype.js -text
/pom.xml -text
