* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/age.jsp -text
WebContent/caption.jsp -text
WebContent/coinfection.jsp -text
WebContent/downloads/AdultSeverityTime_7Dec2021.svg -text
WebContent/downloads/AllAdultPCRAg_7Dec2021.svg -text
WebContent/downloads/AllPedsPCRAg_7Dec2021.svg -text
WebContent/downloads/HospAdultPCRAg_7Dec2021.svg -text
WebContent/downloads/HospPedsAB.svg -text
WebContent/downloads/HospPedsPCRAgAB_7Dec2021.svg -text
WebContent/downloads/PedsRSVFlu_7Dec2021.svg -text
WebContent/downloads/PedsSeverityTime_7Dec2021.svg -text
WebContent/downloads/PedsWhySevere_7Dec2021.svg -text
WebContent/downloads/adult_severity.svg -text
WebContent/downloads/all_adult_patients_20211118.svg -text
WebContent/downloads/all_pediatric_pcr_ag_20211118.svg -text
WebContent/downloads/hospitalzied_adult_patients_20211118.svg -text
WebContent/downloads/hospitalzied_pediatric_pcr_ag_20211118.svg -text
WebContent/downloads/myexample.svg -text
WebContent/downloads/ped_severity.svg -text
WebContent/downloads/pediatric_rsv_coinfetion_2021118.svg -text
WebContent/feeds/line_data.jsp -text
WebContent/feeds/lines_data.jsp -text
WebContent/feeds/patient_group.jsp -text
WebContent/feeds/stacked_bar_data.jsp -text
WebContent/footer.jsp -text
WebContent/head.jsp -text
WebContent/images/n3c_logo.png -text
WebContent/index.jsp -text
WebContent/line_graph.jsp -text
WebContent/lines_graph.jsp -text
WebContent/navbar.jsp -text
WebContent/resources/MT.BootstrapLazyloader.js -text
WebContent/resources/autocomplete.css -text
WebContent/resources/autocomplete.js -text
WebContent/resources/d3-tip.js -text
WebContent/resources/d3.tip.v0.6.3.js -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/main_style.css -text
WebContent/resources/n3c_login_style.css -text
WebContent/severity.jsp -text
WebContent/stacked_bar.jsp -text
WebContent/tables/patient_counts.jsp -text
/pom.xml -text
